body{
 font-family: Arial;
 background-color: lightblue;
}

#test{
margin: 0px auto;
width: 250px;
border: 2px dotted lightcoral;
text-align: center;
font-size: 30px;
color: darkblue;
}
#main-pic{
margin-top: 20px;
text-align: center;
}